@model ArtContest.Models.EditStudentInfoViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
    <link href="~/Common.css" rel="stylesheet" />
    <script src="~/CommonJS.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <h1>Change Your Password</h1>
    @using (Html.BeginForm("ChangePassword", "StudentAccount", FormMethod.Post))
    {
        @Html.HiddenFor(u => u.User.Id)
        @Html.HiddenFor(u => u.User.UserName)
        @Html.HiddenFor(u => u.User.UserTypeId)
        @Html.HiddenFor(u => u.User.UserFirstName)
        @Html.HiddenFor(u => u.User.UserMiddleName)
        @Html.HiddenFor(u => u.User.UserLastName)

        <span>Password</span><br />
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(u => u.Password)<br />

        <span>Confirm Password</span><br />
        @Html.PasswordFor(u => u.ConfirmPassword)
        @Html.ValidationMessageFor(u => u.ConfirmPassword)<br />
        <input type="submit" value="Update" />
    }
    @Html.ActionLink("Go back", "Index", null, null, new { @class = "actionLink" })<br />
</body>
</html>
