@model ArtContest.Models.CheckPicViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckPic</title>
    <link href="~/Common.css" rel="stylesheet" />
</head>
<body>
    <ul>
        <li>@Html.ActionLink("Assign Mission Wrong, Delete", "DeleteMission", new { id = Model.User.Id })</li>
        <li style="float:right">@Html.ActionLink("All Look Good,Return", "ViewJudge", "Admin")</li>
    </ul>
    <table border="1">
        <tr>
            <th>JudgeID</th>
            <th>Judge Username</th>
            <th>Judge Mission:</th>
        </tr>
        <tr>
            <td>@Model.User.Id</td>
            <td>@Model.User.UserName</td>
            <td>
                @foreach (var pr in Model.Grades)
                {

                    @pr<br />

                }
            </td>
        </tr>
    </table>
</body>
</html>
