@model ArtContest.Models.AdminIndexViewModel
<!DOCTYPE html>

<html>
<head>
    <script src="~/CommonJS.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Common.css" rel="stylesheet" />
</head>
<body>
        <h1>All Works</h1>
        <ul>
            <li>@Html.ActionLink("View Judge","ViewJudge","Admin")</li>
            <li>@Html.ActionLink("View All","ViewAll","Admin")</li>
            <li>@Html.ActionLink("Change Password","ChangeP","Admin")</li>    
            <li>@Html.ActionLink("Disable Student", "DisableStu", "Admin")</li>         
        </ul>
        <fieldset style="width:68.5%">
            <legend>Search By School</legend>
            @using(Html.BeginForm("SearchBySchool","Admin",FormMethod.Post)) {
                <span>School Name:</span>
                @Html.DropDownList("schools",Model.School,"Select School");
                <input value="Search" type="submit" />
            }
        </fieldset>
        <fieldset style="width:68.5%">
            <legend>Search By Grade</legend>
            @using(Html.BeginForm("SearchByGrade","Admin",FormMethod.Post)) {
                <span>Grade:</span>
                <select name="grade">
                    <option value="">>-Please Select A Value-<</option>
                    <option value="Preschool">Preschool</option>
                    <option value="Grade 1">Grade 1</option>
                    <option value="Grade 2">Grade 2</option>
                    <option value="Grade 3">Grade 3</option>
                    <option value="Grade 4">Grade 4</option>
                    <option value="Grade 5">Grade 5</option>
                    <option value="Grade 6">Grade 6</option>
                    <option value="Grade 7">Grade 7</option>
                    <option value="Grade 8">Grade 8</option>
                    <option value="Grade 9">Grade 9</option>
                    <option value="Grade 10">Grade 10</option>
                    <option value="Grade 11">Grade 11</option>
                    <option value="Grade 12">Grade 12</option>
                </select>
                <input value="Search" type="submit" />
            }
        </fieldset>
        <fieldset style="width:68.5%">
            <legend>Search By School Then By Grade</legend>
            @using(Html.BeginForm("SearchBySchoolThenByGrade","Admin",FormMethod.Post)) {
                <span>School</span>
                @Html.DropDownList("schools",Model.School,"Select School");
                <span>Grade:</span>
                <select name="grade">
                    <option value="">>-Please Select A Value-<</option>
                    <option value="Preschool">Preschool</option>
                    <option value="Grade 1">Grade 1</option>
                    <option value="Grade 2">Grade 2</option>
                    <option value="Grade 3">Grade 3</option>
                    <option value="Grade 4">Grade 4</option>
                    <option value="Grade 5">Grade 5</option>
                    <option value="Grade 6">Grade 6</option>
                    <option value="Grade 7">Grade 7</option>
                    <option value="Grade 8">Grade 8</option>
                    <option value="Grade 9">Grade 9</option>
                    <option value="Grade 10">Grade 10</option>
                    <option value="Grade 11">Grade 11</option>
                    <option value="Grade 12">Grade 12</option>
                </select>
                <input value="Search" type="submit" />
            }
        </fieldset>       
</body>
</html>
