@using ArtContest.Models
@model List<Picture>
<!DOCTYPE html>

<html>
<head>
    <script src="~/CommonJS.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Common.css" rel="stylesheet" />
</head>
<body>
        <h1>All Works</h1>
        <ul>
            <li>@Html.ActionLink("View Judge", "ViewJudge", "Admin")</li>
            <li>@Html.ActionLink("View All", "Index", "Admin")</li>
            
        </ul>
        <fieldset style="width:68.5%">
            <legend>Search By School</legend>
            @using(Html.BeginForm("SearchBySchool","Admin",FormMethod.Post)) {
                <span>School Name:</span>
                @Html.TextBox("school");
                <input value="Search" type="submit" />
            }
        </fieldset>
        <fieldset style="width:68.5%">
            <legend>Search By Grade</legend>
            @using(Html.BeginForm("SearchByGrade","Admin",FormMethod.Post)) {
                <span>Grade:</span>
                <select name="grade">
                    <option value="">>-Please Select A Value-<</option>
                    <option value="Preschool">Preschool</option>
                    <option value="Grade 1">Grade 1</option>
                    <option value="Grade 2">Grade 2</option>
                    <option value="Grade 3">Grade 3</option>
                    <option value="Grade 4">Grade 4</option>
                    <option value="Grade 5">Grade 5</option>
                    <option value="Grade 6">Grade 6</option>
                    <option value="Grade 7">Grade 7</option>
                    <option value="Grade 8">Grade 8</option>
                    <option value="Grade 9">Grade 9</option>
                    <option value="Grade 10">Grade 10</option>
                    <option value="Grade 11">Grade 11</option>
                    <option value="Grade 12">Grade 12</option>
                </select>
                <input value="Search" type="submit" />
            }
        </fieldset>
        <fieldset style="width:68.5%">
            <legend>Search By School Then By Grade</legend>
            @using(Html.BeginForm("SearchBySchoolThenByGrade","Admin",FormMethod.Post)) {
                <span>School</span>
                @Html.TextBox("school");
                <span>Grade:</span>
                <select name="grade">
                    <option value="">>-Please Select A Value-<</option>
                    <option value="Preschool">Preschool</option>
                    <option value="Grade 1">Grade 1</option>
                    <option value="Grade 2">Grade 2</option>
                    <option value="Grade 3">Grade 3</option>
                    <option value="Grade 4">Grade 4</option>
                    <option value="Grade 5">Grade 5</option>
                    <option value="Grade 6">Grade 6</option>
                    <option value="Grade 7">Grade 7</option>
                    <option value="Grade 8">Grade 8</option>
                    <option value="Grade 9">Grade 9</option>
                    <option value="Grade 10">Grade 10</option>
                    <option value="Grade 11">Grade 11</option>
                    <option value="Grade 12">Grade 12</option>
                </select>
                <input value="Search" type="submit" />
            }
        </fieldset>
        <div id="SearchResult">
        <span style="font-size:20px; margin-left:auto">Result:@Model.Count()</span>
        <span style="margin-left:58%"><button id="DownLoadBtn" onclick="donwloadAll()" style="margin-left:15%"> Download All </button></span><br />
        </div>
        
    
        <table border="1" id="allImages">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Art</th>
                <th>Student FirstName</th>
                <th>Student LastName</th>
                <th>Student Grade</th>
                <th>Details</th>
                <th>Score</th>
            </tr>
            @foreach(var p in Model) {
                
                    int count = 0;
                    double result = 0;
                    foreach(var item in p.PictureRates) {
                        if(item.PictureId == p.Id) {
                            count++;
                            result += item.Rate;
                        }
                    }
                    result /= count;
                
                <tr>
                    <td class="id">@p.Id</td>
                    <td class="title">@p.Title</td>
                    <td><img width="500" height="300" src="~/@p.PicturePath" /></td>
                    <td class="firstname">@p.Student.User.UserFirstName</td>
                    <td class="lastname">@p.Student.User.UserLastName</td>
                    <td class="grade">@p.Student.Grade</td>
                    <td>@Html.ActionLink("Details","Details",new { id = p.Id })</td>
                    <td>@result</td>
                </tr>
            }
        </table>
</body>
</html>
