@using ArtContest.Models
@model List<Picture>
<!DOCTYPE html>

<html>
<head>
    <script src="~/CommonJS.js"></script>
    <link href="~/Common.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>ViewAll</title>
</head>
<body>
    <h1>All Works</h1>
    <ul>
        <li>@Html.ActionLink("View Judge","ViewJudge","Admin")</li>
        <li>@Html.ActionLink("View All","ViewAll","Admin")</li>
        <li>@Html.ActionLink("Search Filter","Index","Admin")</li>
        <li>@Html.ActionLink("Change Password","ChangeP","Admin")</li>
        <li>@Html.ActionLink("Download Student Information","DSI","Admin")</li>
        <li>@Html.ActionLink("Download Grade Information","DGI","Admin")</li>
    </ul>
    <div id="SearchResult">
    <span style="font-size:20px; margin-left:auto">Result:@Model.Count()</span>
    <span style="margin-left:58%"><button id="DownLoadBtn" onclick="donwloadAll()" style="margin-left:15%"> Download All </button></span><br />
</div>
        <table border="1" id="allImages">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Art</th>
                <th>Student FirstName</th>
                <th>Student LastName</th>
                <th>Student Grade</th>
                <th>Details</th>
                <th>Score</th>
            </tr>
            @foreach(var p in Model) {
                int count = 0;
                double result = 0;
                foreach(var item in p.PictureRates) {
                    if(item.PictureId == p.Id &&item.Rate>-1) {
                        count++;
                        result += item.Rate;
                    }
                }
                result /= count;

                <tr>
                    <td class="id">@p.Id</td>
                    <td class="title">@p.Title</td>
                    <td><img width="500" height="300" src="~/@p.PicturePath" /></td>
                    <td class="firstname">@p.Student.User.UserFirstName</td>
                    <td class="lastname">@p.Student.User.UserLastName</td>
                    <td class="grade">@p.Student.Grade</td>
                    <td>@Html.ActionLink("Details","Details",new { id = p.Id })</td>
                    <td>@result</td>
                </tr>
            }
        </table>
</body>
</html>
