@using ArtContest.Models
@model List<User>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewJudge</title>
    <link href="~/Common.css" rel="stylesheet" />
</head>
<body>
    <h1>Judge Management</h1>
    <ul>
        <li>@Html.ActionLink("Add a new Judge", "CreateJudge", "Admin")</li>
        <li>@Html.ActionLink("Assign Art to Judge For Grading", "DividePic", "Admin")</li>
        <li style="float:right">@Html.ActionLink("Return", "Index", "Admin")</li>
    </ul>
    <table border="1">
        <tr>
            <th>Judge ID</th>
            <th>Judge Username</th>
            <th>Judge FirstName</th>
            <th>Judge LastName</th>
            <th>Judge's Picture</th>
            <th>Remove Judge</th>
        </tr>
        @foreach(var u in Model) {
            <tr>
                <td>@u.Id</td>
                <td>@u.UserName</td>
                <td>@u.UserFirstName</td>
                <td>@u.UserLastName</td>
                <td>@Html.ActionLink("Check Picture","CheckPic",new { id=u.Id})</td>
                <td>@Html.ActionLink("RemoveJudge","RemoveJudge",new { id = u.Id })</td>
            </tr>
        }
    </table>
    
    
    
</body>
</html>
