@model ArtContest.Models.EditStudentInfoViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <link href="~/Common.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h1>Reset your password</h1>
        @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post))
        {
            <span>New Password</span><br />
            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor(u => u.NewPassword)<br />
                    <span>Confirm Password</span><br />
                    @Html.PasswordFor(u => u.ConfirmNewPassword)
                    @Html.ValidationMessageFor(u => u.ConfirmNewPassword)<br />
            <input type="submit" value="Update" />
        }
        @Html.ActionLink("Go back", "Index", null, null, new { @class = "actionLink" })<br />
    </div>
</body>
</html>
