@using ArtContest.Models
@model UserSignUpViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/CommonJS.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <link href="~/Common.css" rel="stylesheet" />
</head>
<body onload="disableSubmit()">
    <div>
        <h1>CTEF 2016 ArtContest</h1>
        @using (Html.BeginForm("UserSignUp", "UserSignUp", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <span>User Name</span><br />
                    @Html.TextBoxFor(u => u.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)<br />

                    <span>Password</span><br />
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(u => u.Password)<br />

                    <span>Confirm Password</span><br />
                    @Html.PasswordFor(u => u.ConfirmPassword)
                    @Html.ValidationMessageFor(u => u.ConfirmPassword)<br />

                    <span>First Name</span><br />
                    @Html.TextBoxFor(m => m.UserFirstName)
                    @Html.ValidationMessageFor(u => u.UserFirstName)<br />

                    <span>Middle Name (Optional)</span><br />
                    @Html.TextBoxFor(u => u.UserMiddleName)<br />

                    <span>Last Name</span><br />
                    @Html.TextBoxFor(u => u.UserLastName)
                    @Html.ValidationMessageFor(u => u.UserLastName)<br />

                    <span>Gender</span>
                    <span>Male</span>
                    @Html.RadioButtonFor(u => u.Gender, "Male")
                    <span>Female</span>
                    @Html.RadioButtonFor(u => u.Gender, "Female")
                    @Html.ValidationMessageFor(u => u.Gender)
                    <br style="line-height:300%" />

                    <span>Age</span><br />
                    @Html.TextBoxFor(u => u.Age)
                    @Html.ValidationMessageFor(u => u.Age)<br />

                    <span>Student's school name</span><br />
                    @Html.TextBoxFor(u => u.School)
                    @Html.ValidationMessageFor(u => u.School)<br />
                    
                    <span>Grade</span><br />
                    @Html.DropDownListFor(u => u.Grade, new SelectList(new List<string> { "Preschool", "Grade 1", "Grade 2",
                    "Grade 3", "Grade 4", "Grade 5", "Grade 6", "Grade 7", "Grade 8", "Grade 9", "Grade 10", "Grade 11","Grade 12"}), "select", new { @class = "dropDown" })
                    @Html.ValidationMessageFor(u => u.Grade)<br />

                    <span>Parent/Guardian First Name</span><br />
                    @Html.TextBoxFor(u => u.ParentFirstName)
                    @Html.ValidationMessageFor(u => u.ParentFirstName)<br />

                    <span>Parent/Guardian Middle Name (Optional)</span><br />
                    @Html.TextBoxFor(u => u.ParentMiddleName)<br />

                    <span>Parent/Guardian Last Name</span><br />
                    @Html.TextBoxFor(u => u.ParentLastName)
                    @Html.ValidationMessageFor(u => u.ParentLastName)<br />
                    
                    <span>Parent/Guardian email</span><br />
                    @Html.TextBoxFor(u => u.ParentEmail)
                    @Html.ValidationMessageFor(u => u.ParentEmail)<br />

                    <span>Parent/Guardian Contact Phone Number (Digits only)</span><br />
                    @Html.TextBoxFor(u => u.ParentPhoneNumber)
                    @Html.ValidationMessageFor(u => u.ParentPhoneNumber)<br />

                    <span>Street</span><br />
                    @Html.TextBoxFor(u => u.Street)
                    @Html.ValidationMessageFor(u => u.Street)<br />

                    <span>City</span><br />
                    @Html.TextBoxFor(u => u.City)
                    @Html.ValidationMessageFor(u => u.City)<br />

                    <span>State</span><br />
                    @Html.TextBoxFor(u => u.State)
                    @Html.ValidationMessageFor(u => u.State)<br />

                    <span>Zip Code</span><br />
                    @Html.TextBoxFor(u => u.Zip)
                    @Html.ValidationMessageFor(u => u.Zip)<br />

                    <span>Art Teacher's Title (if applicable)</span><br />
                    @Html.DropDownListFor(u => u.TeacherTitle, new SelectList(new List<string> {"Mrs.","Ms.","Mr."}), "select")<br />

                    <span>Teacher First Name</span><br />
                    @Html.TextBoxFor(u => u.TeacherFirstName)
                    @Html.ValidationMessageFor(u => u.TeacherFirstName)<br />

                    <span>Teacher Middle Name</span><br />
                    @Html.TextBoxFor(u => u.TeacherMiddleName)<br />

                    <span>Teacher Last Name</span><br />
                    @Html.TextBoxFor(u => u.TeacherLastName)
                    @Html.ValidationMessageFor(u => u.TeacherLastName)<br />

                        <p style="margin-bottom:0">
                            I grant to CTEF anirrevocable, unlimited license to display, copy, sell, sublicense, publish, andcreate and sell derivative works from, my work submitted for the CTEF
                            ArtContest. CTEF is not responsible for lost or damaged works. Entries will not bereturned. I affirm that this is my own original work. I understand that thesubmission of
                            my entry into the CTEF Art Contest constitutes acceptance of theabove condition, in addition to my agreement of the rules and guidelines statedin 2016 CTEF Art Contest Submission
                            Rules and Guidelines. CTEF reserves thefinal right to make any changes.
                        </p>
                        <p style="font-weight:900;margin-top:0;line-height:95%">
                            **Important: All finalists must submittheir original upon requests. We may use the originals as proof of authenticityand for CTEF-authorized events**
                            <span style="margin-left:80%">I agree</span><input type="checkbox" name="agreement" id="terms" onchange="activateButton(this)">
                        </p>

                        <span>Student's signature (Name typed below in authenticate all the information provided in the form)</span><br />
                        @Html.TextBoxFor(u => u.StudentSignature)
                        @Html.ValidationMessageFor(u => u.StudentSignature)<br />

                        <span>Parent's signature(Name typed below in authenticate all the information provided in the form)</span><br />
                        @Html.TextBoxFor(u => u.ParentSignature)
                        @Html.ValidationMessageFor(u => u.ParentSignature)<br />

                        <input type="submit" value="submit" id="submit"><br />
                        <span>          </span><br />
                        <span>          </span><br />
                        <span>          </span><br />
                        <span>          </span><br />
                        }
</div>
</body>
</html>
